<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Employee List</title>
</head>
<body>
<h3>All Employee Details</h3>

<div class="row">
    <table border="1px" style="background-color: lavenderblush">
        <tr class="row">
            <td>Sl. No</td>
            <td>Id</td>
            <td>Name</td>
            <td>Designation</td>
        </tr>
        <tr th:each="data, itr:${employeeList}">
            <td th:text="${itr.index+1}"></td>
            <td th:text="${data.empId}"></td>
            <td th:text="${data.name}"></td>
            <td th:text="${data.designation}"></td>
        </tr>
    </table>
</div>
</body>
</html>